:root {
    --color1: #124559;
    --color2: #eff6e0;
    --color3: #0e3a46;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color2);
}

.icon{
    min-height: 1rem;
    max-height: 1rem;
    min-width: 1rem;
    max-width: 1rem;
}



.container {
    min-width: 80vw;
    max-width: 80vw;
    background-color: var(--color1);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding:2rem;

    border-radius: 5px;
}

.container>section{
    background-color: white;
    border-radius: 5px;
}

.links>.button{
    border-bottom: 1px solid lightgray;
}





.info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name{
    padding: 12px;
    border-bottom: 1px solid lightgray;
}

.balance{
    display: flex;
    justify-content: space-between;
}

.balance>div:first-child{
    display: flex;
    padding: 12px;
    gap: 12px;
}

.balance>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.button{
    background-color: inherit;
    color: black;
    cursor: pointer;
    padding: 12px;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    gap: 12px;
    text-decoration: none;
    align-items: center;
}

.button:hover, .button:focus{
    background-color: var(--color2);
}

@media (min-width: 650px) {
    .container {
        min-width: 60vw;
        max-width: 60vw;
    }
}

@media (min-width: 1024px) {
    .container {
        min-width: 40vw;
        max-width: 40vw;
    }
}