/* Hady's part */

:root {
    /* color1 124559 */
    --color1: #1d4ed8;
    --color2: #edf2f4;
    --color3: #0e3a46;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color2);

    margin-bottom: 3rem;
}

.link{
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-size: 1rem;
}

.link a, .link a:hover, .link a:visited, .link a:active{
    color: var(--color1);
}

/* Amir's part */