:root {
    --color1: #124559;
    --color2: #eff6e0;
    --color3: #0e3a46;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color2);
}

.form-container {
    min-width: 80vw;
    max-width: 80vw;
}

.link{
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-size: 1rem;
}

.link a, .link a:hover, .link a:visited, .link a:active{
    color: var(--color1);
}

@media (min-width: 650px) {
    .form-container {
        min-width: 70vw;
        max-width: 70vw;
    }
}

@media (min-width: 1024px) {
    .form-container {
        min-width: 60vw;
        max-width: 60vw;
    }
}